<template>
  <div class="documentation">
    <h1>This is an Documentation page</h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .documentation {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
