<template>
  <div class="tooling">
    <h1>This is an Tooling page</h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .tooling {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
