<script setup lang="ts">
import { customerId } from '@/providers/router/logger'
</script>

<template>
  <div class="greetings">
    <h3>
      A list of yesterday visits:
      <p>'0' : ['home', 'about']</p>
      <p>'1' : ['home']</p>
      <p>'2' : ['home']</p>
      <p>'3' : ['home']</p>
      <p>'4' : ['home']</p>
      <p>'5' : ['home']</p>
      <p>'6' : ['home']</p>
      <p>'7' : ['home']</p>
      <p>'8' : ['home']</p>
      <p>'9' : ['home']</p>
      <p>'10': ['home']</p>
      <br />
      Your customerId is:
      <span class="green">{{ customerId }}</span>
    </h3>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
