<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import { printLeads } from '@/providers/router/logger'
import { onMounted, ref } from 'vue'

const listOfUsers = ref<Array<string>>([])
const handlePrint = () => {
  listOfUsers.value = printLeads();
}

onMounted(() => {
  handlePrint();
})
</script>

<template>
  <header>
    <div class="wrapper">
      <HelloWorld />

      <nav>
        Please, browse:
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
        <RouterLink to="/documentation">Documentation</RouterLink>
        <RouterLink to="/tooling">Tooling</RouterLink>
      </nav>

      <div class="results">
        And print results:
        <button class="green" @click="handlePrint">Print Leads</button>

        <ul v-if="listOfUsers.length">
          <li v-for="user in listOfUsers">
            {{ user }}
          </li>
        </ul>

        <span v-else>None</span>
      </div>
    </div>
  </header>
  <RouterView />
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.results {
  display: flex;
  gap: 20px;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2.5);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
